{{define "subject"}}Movies API - Password recover{{end}}

{{define "plainBody"}} 
Hi {{.userName}},

You're requesting a password reset token to reset the password.

For password reset please send to the endpoint: `PUT /v1/users/password`, the following JSON payload:

{"token": "{{.resetToken}}", "password": "<Your New Password>"}

NOTE: This is a one-time use token and it will expire in an hour. If you didn't ask for the password reset please ignore this email.

Thank you.
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi {{.userName}},</p>

    <p>You're requesting a password reset token to reset the password.</p>

    <p>For password reset please send to the endpoint: `PUT /v1/users/password`, the following JSON payload:</p>

    <pre><code>
    {"token": "{{.resetToken}}", "password": "<Your New Password>"}
    </code></pre>
    <p>NOTE: This is a one-time use token and it will expire in an hour. If you didn't ask for the password reset please ignore this email.</p>

    <p>Thank you.</p>

</body>

</html>
{{end}}